---
title: c4v.Home
layout: layout.njk
elentyImport: 
  collections: ["products"]
---

{%- for product in collections.products -%}
<div class="listing--product">
  <div class="product">
    <div class="product__image">
      <img src="{{ product.data.desktop }}" alt="">

      <div class="product__action product__action--add-to-cart">
        <button>
          <img src="/assets/images/icon-add-to-cart.svg" alt="">
          Add To Cart
        </button>
      </div>
    </div>
    <div class="product__body">
      <p class="product__body--category">
        {{ product.data.category }}
      </p>
      <p class="product__body--name">
        {{ product.data.name }}
      </p>
      <p class="product__body--price">
        ${{ product.data.price | preserveDecimal }}
      </p>
    </div>
    <div class="product__footer">
    </div>
  </div>
</div>
{%- endfor -%}